@if (title()) {
  <div class="flex gap-2 items-center mb-4">
      <span class="whitespace-nowrap font-bold">
          {{title()}}
      </span>
      <div [class]="itemDisplayCounter">
          {{config()?.length || 0}}
      </div>
      <hr class="w-full block">        
  </div>
}

<div [class]="containerClasses()">
    @for (item of config(); track item.id) {
        <div 
            class="cursor-pointer"
            tabindex="0"
            role="button"
            [class]="typeClasses()"
            (keydown.enter)="onClickItem(item)"
            (keydown.space)="onClickItem(item)"
            (click)="onClickItem(item)">
            @if (item.icon) {
                <div [class]="itemDisplayIcon.general + ' ' + itemDisplayIcon.status[item.dateStatus]">
                    <app-svg-icon [icon]="item.icon"></app-svg-icon>
                </div>
            }
            <div class="">
                <div class="font-bold text-lg col-span-2 w-full leading-6">{{ item.name }}</div>
                <div class="text-zinc-600 dark:text-zinc-300 opacity-70 text-sm flex items-center gap-2">
                    <span>
                        {{ item.category }}
                    </span>
                    <span>
                        ·
                    </span>
                    <span>
                        {{ item.dueDate | expirationDate }}
                    </span>
                </div>
            </div>
        </div>
    }
</div>